/* page container */

.container {
    height: 1000px;
    position: relative;
}

/*navbar*/

.navbar {
    color: whitesmoke;
}


/* content card */ 

.card {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.corey-in-to {
    max-width: 50%;
    max-height: fit-content;
}

/*footer*/

.page-footer {
    width: 100%;
    height: 60px;
    margin-top: 900px;
}

.page-footer {
    color: whitesmoke;
}